html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    overflow: hidden;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppoins"), url(./fonts/Poppins-Medium.woff) format("woff");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                        'embedded-opentype', and 'svg' */
  }